<!-- Footer -->
<footer class="page-footer font-small blue bg-primary">
  <div class="row footer-info">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <h3>Address</h3>
      <p>Anckargripsgatan 3 </P>
      </p>211 19  Malmö </p>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <h3>Tel</h3>
      <p>072 714 92 75</p>
    </div>
    
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    <a href="#"> ipixel.nu</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
