
<section class="no-padding our-customers" id="our-customers">
  <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Våra kunder</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
    
      <div class="carousel" data-flickity='
      { 
        "groupCells": false,
        "cellAlign": "center",
        "cellSelector": "",
        "wrapAround": false,
        "draggable": true,
        "contain": true

      }'>
        <div class="carousel-cell">
          <img src="/img/logos/anils.png" class="img-responsive"> 
        </div>
        <div class="carousel-cell">
          <img src="/img/logos/emeg.png" class="img-responsive"> 
        </div>
        <div class="carousel-cell">
          <img src="/img/logos/mh.png" class="img-responsive"> 
        </div>
        <div class="carousel-cell">
          <img src="/img/logos/waseela.png" class="img-responsive"> 
        </div>
      </div>
    </div>
  </div>
</section>


<style>

  .carousel {
    background: #fff;
    align-items: center;
  }

  .carousel-cell {
    width: 22%;
    height: 200px;
    background: #fff;
    border-radius: 0px;
  }

  .carousel-cell img {
    margin: auto;
  }
</style>
