<section class="no-padding" id="portfolio">
  <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">{%t section.project.title%}</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.behance.net/gallery/87656385/UXUI-DESIGN-FOOD-APP-%28Dark-Light-Mode%29" class="portfolio-box" data-toggle="modal" data-target="#nr1">
                    <img src="img/portfolio/food_app.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                UX/UI
                            </div>
                            <div class="project-name" >
                                Food App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.behance.net/gallery/70529447/LOGO-COLLECTION-2018" class="portfolio-box"  data-toggle="modal" data-target="#nr2">
                    <img src="img/portfolio/provider.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Grafisk Design (logotype)
                            </div>
                            <div class="project-name">
                                Provide
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.behance.net/gallery/88207765/WEB-DESIGN-%28MAKEUP%29-UX-UI-DESIGN" class="portfolio-box" data-toggle="modal" data-target="#nr3">
                    <img src="img/portfolio/asma_makeup.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Design
                            </div>
                            <div class="project-name">
                                ASMA MAKEUP
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.behance.net/gallery/76083203/UIUX-for-Fitness-app-IOS-Android" class="portfolio-box">
                    <img src="img/portfolio/fitness_app.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                UX/UI
                            </div>
                            <div class="project-name">
                                Ftness App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.behance.net/gallery/80385871/MedicalHealthcare-Appointment-App-%28IOSAndroid%29" class="portfolio-box">
                    <img src="img/portfolio/doctor_app.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                UX/UI
                            </div>
                            <div class="project-name">
                                Doctor App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.behance.net/gallery/70529447/LOGO-COLLECTION-2018" class="portfolio-box">
                    <img src="img/portfolio/corporate_care.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Grafisk Design (logotype)
                            </div>
                            <div class="project-name">
                                Corporate Care
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row text-center">
      <br>
        <a href="" class="btn btn-primary btn-xl">{%t section.project.see_more%}</a>
    </div>

</section>


<!-- Modal nr 1 -->
<div class="modal fade" id="nr1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Food App</h4>
      </div>
      <div class="modal-body">
        <img src="img/portfolio/food_app_fullsize.png" class="img-responsive" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nr 2-->
<div class="modal fade" id="nr2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">provide</h4>
      </div>
      <div class="modal-body">
        <img src="/img/provide_fullsize.png" class="img-responsive" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nr 3-->
<div class="modal fade" id="nr3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Asma makeup</h4>
      </div>
      <div class="modal-body">
        <img src="/img/asma_makeup_fullsize.jpg" class="img-responsive" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
